# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
.env.local
.env.*.local

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Internet Computer
.dfx/
canisters/registery/.dfx/
